%h1 My Games

%script{:type => 'text/x-handlebars'}= '{{view MyGames.ListGamesView}}'
:coffeescript
  $ ->
    # MyGames.gamesController.loadAll(#{@games.to_json.html_safe})
    MyGames.gamesController.findAll()

/ <% @games.each do |game| %>
/   <tr>
/     <td><%= game.name %></td>
/     <td><%= game.rating %></td>
/     <td><%= game.comment %></td>
/     <td><%= game.release %></td>
/     <td><%= link_to 'Show', game %></td>
/     <td><%= link_to 'Edit', edit_game_path(game) %></td>
/     <td><%= link_to 'Destroy', game, confirm: 'Are you sure?', method: :delete %></td>
/   </tr>
/ <% end %>

= link_to 'New Game', new_game_path
